.menus {
  margin: 80px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu {
  flex-basis: 31%;
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.menu img {
  width: 100%;
}

.menu h3 {
  margin: 5px;
}

.menu p {
  padding: 0 10px;
  margin-bottom: 10px;
}

.menu .price {
  font-weight: 700;
}

.view {
  position: absolute;
  right: 0;
  bottom: -15px;
  margin-top: 20px;
  background: var(--primary);
  padding: 6px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
